---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import TableOfContents from '../../components/TableOfContents.tsx';

export async function getStaticPaths() {
  const rulebookEntries = await getCollection('rulebook');
  return rulebookEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout title={entry.data.title} description={entry.data.description}>
  <div class="container mx-auto px-4">
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-8">
      <article class="prose lg:col-start-2 lg:col-span-8 justify-self-center">
        <Content />
      </article>
      {entry.data.showToc && (
        <aside class="hidden lg:block lg:col-start-10 lg:col-span-3">
          <div class="sticky top-20">
            <TableOfContents client:load />
          </div>
        </aside>
      )}
    </div>
  </div>
</MainLayout>
